body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

#introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 70px;
}

.me-images {
  width: 2440px;
  height: 540px;
  background-image: url('../../public/images/fba.jpg');
  background-size: cover;
  z-index: 3;
  margin-right: 90px;
  animation: slide 30s infinite;
  border: 10px solid #121212;
  border-radius: 20px;
  transition: color 0.3s ease, transform 0.3s ease-in-out, opacity 0.3s ease, box-shadow 0.3s ease;
}
.me-images:hover {
  transform: scale(1.05);
}

.about-text {
  z-index: 3;
}

.about-text h2 {
  font-family: 'Fjalla One', sans-serif;
  color: #e0e0e0;
  margin: 0;
  margin-top: 0;
  transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease-in-out;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: inline-flex;
}

.about-text h2:hover {
  color: #ff4c4c;
  text-shadow: 0 0 15px rgba(255, 76, 76, 0.6);
  transform: scale(1.05);
  display: inline-flex;
}

@keyframes slide {
  0% {
    background-image: url('../../public/images/fba.jpg');
  }

  16.666% {
    background-image: url('../../public/images/guitar2.jpg');
  }

  33.33% {
    background-image: url('../../public/images/fba3.jpg');
  }

  49.998% {
    background-image: url('../../public/images/drum.jpg');
  }

  66.664% {
    background-image: url('../../public/images/fba2.jpg');
  }

  83.33% {
    background-image: url('../../public/images/guitar1.jpg');
  }
}

.text-container {
  flex: 1;
  margin-right: 20px;
  z-index: 2;
}

.me-buttons { 
  display: flex;
  gap: 20px;
}

.me-buttons button {
  background-color: #e0e0e0;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.me-buttons button:hover {
  background-color: #ff4c4c;
  box-shadow: 0 0 15px rgba(255, 76, 76, 0.8);
  transform: scale(1.05);
}

.me-buttons button a {
  text-decoration: none;
  color: #121212;
}

#typewriter {
  position: absolute;
  display: inline-block;
  font-family: 'Consolas', monospace;
  font-size: 24px;
  color: #e0e0e0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #e0e0e0;
}

h4 span{
  font-family: 'Fjalla One', sans-serif;
  font-size: 38px;
  margin: 0;
  margin-top: 0;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  display: inline-flex;
}

h4 .space {
  display: inline-block;
  width: 10px;
}

h4 span:hover {
  animation: tilt 0.3s ease-in-out;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image {
  position: fixed;
  top: 20px;
  z-index: 0;
  opacity: 0.4;
  left: 25%;
}

.center-image {
  margin-top: 50px;
  border: 10px solid #121212;
  border-radius: 20px;
  transition: color 0.3s ease, transform 0.3s ease-in-out, opacity 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
  opacity: 0.8; 
}

.center-image:hover {
  border: 10px solid #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  opacity: 1; 
  transform: scale(1.05);
}

h1 span {
  font-size: 80px;
  display: inline-flex;
  transition: color 0.1s ease, transform 0.1s ease-in-out;
  position: relative;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #c4c4c4;
}

h1 .space {
  display: inline-block;
  width: 10px;
}

h1 span:hover {
  color:#ff4c4c;
  transform: translateY(-25px);
  z-index: 3;
}

header {
  background-color: #121212;
  color: #e0e0e0;
  padding: 20px;
  border-bottom: 2px solid #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
  color: #ff4c4c;
  margin: 0;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  gap: 50px;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff4c4c; /* Rojo para destacar al pasar el ratón */
}

/* Opción de idioma */
.lang {
  position: absolute;
  right: 40px;
}

.lang a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.lang a:hover {
  color: #ff4c4c; /* Rojo para destacar al pasar el ratón */
}

main {
  padding: 30px;
  background-color: #2a2a2a;
}

main h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  color: #4cc3ff; /* Azul eléctrico para contrastar */
  margin-bottom: 20px;
}

main p {
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
}

/* Efectos y detalles */
header {
  border-image: linear-gradient(45deg, #4cc3ff, #ff4c4c) 1;
}

a {
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
  color: #4cc3ff;
  transform: scale(1.05);
}

.nav ul li::before {
  content: "♪";
  color: #ff4c4c;
  margin-right: 8px;
  font-size: 18px;
}

.lang a::after {
  content: "🎵";
  margin-left: 8px;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
